body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(125, 255, 0, 1) 0%, rgba(59, 0, 255, 1) 100%);
}

:root {
    --border-r: 3.5vmin;
}

* {
    text-align: right;
    direction: rtl;
    user-select: none;
}

#main-box {
    width: 80vmin;
    min-height: 50vmin;
    height: auto;

}

#title {
    font-family: 'Rubik Beastly', cursive;
    text-align: center;
    font-size: 2.5vmin;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-top-right-radius: var(--border-r);
    border-top-left-radius: var(--border-r);
    padding: 3vmin;
    margin: 0;

}

#reasons {
    border-bottom-right-radius: var(--border-r);
    border-bottom-left-radius: var(--border-r);
    margin: 0;
    padding: 3vmin;
    background-color: #ff9999;
    max-height: 80%;
    height: auto;

}


.collapsible {
    background-color: #ff7474;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    /*font-size: 15px;*/
    margin-top: 1%;
    font-size: 2vmin;
}

.active, .collapsible:hover {
    background-color: #ff5e5e;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: left;
    margin-left: 5px;
    color: #000000;
    font-size: 2vmin;

}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffe5e5;
}

.reason {
    font-family: 'Bona Nova', serif;
    list-style-type: circle;
    font-size: 1.7vmin;
}

a{
    color: black;
}